@model IEnumerable<MIAPP2.Models.USUARIO2>

@{
    ViewBag.Title = "Home";
    var sessionNick = (string)Session["UserNick"];
    var sessionID = (string)Session["UserName"];
    var sessionTipo = (string)Session["UserTipo"];

}


<tbody>
    <div class="row">

        <!-- TABLA JUGADOR -->

        <div class="col-4">
            <table class="table table-fluid transparencia redondeado">
                <tr class="col-12">
                    <th class="tituloGrid col-4">
                        <p>JUGADORES</p>
                    </th>
                    <th class="tituloGrid col-4">
                        <p>ESTADO</p>
                    </th>
                    <th class="tituloGrid col-4"></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Usuario2Tipo == "J" && item.Usuario2Estado != "F" && sessionID != item.Usuario2ID.ToString())
                    {

                        <tr class="col-12">
                            <td class="col-4 text-center letraBoton">
                                <p class="mb-0 no-margin-bottom mt-2 letraBoton">@item.Usuario2Nick<p>
                            </td>

                            @if (item.Usuario2Status == "O")
                            {
                                <td class="col-4 text-center" style="color:green; font-weight:900;">
                                    <p class="mb-0 no-margin-bottom mt-2 letraBoton">ONLINE<p>
                                </td>
                            }
                            else
                            {
                                <td class="col-4 text-center" style="color: red; font-weight: 900;">
                                    <p class="mb-0 no-margin-bottom mt-2 letraBoton">OFFLINE<p>
                                </td>

                            }

                            <td class="col-4 text-center">

                                @Html.ActionLink("Visitar", "PerfilAgeno", new { id = item.Usuario2ID }, new { @class = "btn btn-warning" })


                                @if (sessionTipo == "A")
                                {

                                    @Html.ActionLink("Editar", "PerfilAdmin", "USUARIO2", new { idExtra = item.Usuario2ID }, new { @class = "btn btn-primary" })

                                    using (Html.BeginForm("Eliminar", "USUARIO2", FormMethod.Get))
                                    {
                                        <input type="hidden" name="id" value="@item.Usuario2ID">
                                        <input type="submit" value="Eliminar" class="btn btn-danger">
                                    }
                                }
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
</tbody>
