@{
    ViewBag.Title = "Index";
}

<div class="box2PX redondeado paddingGeneral20 centrarBox margenTop10por margenBot15por transparencia">
    <h2 class="miTitulo" style="width: 100%; text-align:center;">PARTIDOS YA</h2>

    <div style="width: 100%; text-align-last: center;">
        <input type="text" id="Usuario2Nick" placeholder="Nombre de Usuario">
    </div>

    <div style="width: 100%; text-align-last: center; margin-bottom: 10px; ">
        <input type="password" id="Usuario2Pass" placeholder="Contraseña">
    </div>

    <div style="width: 100%; text-align-last: center;">
        <button style="margin-bottom: 20px; border: 0px;" type="button" class="tamañoBoton redondeado blanco sombreado" onclick="iniciarSesion()">Iniciar Sesión</button>
    </div>

    <div style="width: 100%; text-align-last: center;">
        <button style="margin-bottom: 20px; border: 0px;" type="button" class="tamañoBoton redondeado blanco sombreado" onclick="irRegistro()">Registrarse</button>
    </div>
</div>

<script src="~/Scripts/JS/Login.js"></script>